<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
	android:sharedUserId="com."
    package="com.common.logservice"
    android:versionCode="1"
    android:versionName="1.0.0">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />	
	<uses-permission android:name="android.permission.INTERNET" />	
	<uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	
	<application
		android:label="@string/app_name"
		android:allowClearUserData="false"
		android:killAfterRestore="false">
                <uses-library android:name="android.test.runner" />
		<activity android:name="com.common.logservice.test.TestActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<service
			android:name="com.common.logservice.LogService">
			<intent-filter>
				<action android:name="com.common.logservice.ACTION_BIND_LOG_SERVICE"/>
			</intent-filter>
		</service>

		<receiver android:name="com.common.logservice.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />         
			</intent-filter>
		</receiver>  

	</application>
</manifest>

